.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  display: inline-block;
  padding: 5%;
}
.img1 {
  width: 80%;
  padding: 10% 10%;
}
body {
  background-color: #392E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCbf;
}

p {
  font-size: 2rem;
  color: #4ECCbf;
  font-family: 'Indie Flower', cursive;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
