/* code for section 1 */
body {
  font-style: Montserrat;
}

#topside {
  background-color: #ff4c6f;
}

.row1 {
  padding-top: 5%;
  padding-bottom: 10%;
}

h1 {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  width: 70%;
  font-weight: 900;
}

h2 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2%;
}

h3 {
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 2%;
  padding-top: 2%;
}

p {
  text-align: center;
  caret-color: #8f8f9f;
  font-size: 1rem;
  line-height: 1.5;
}

.container-fluid {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: -5rem;
}

.navbar {
  padding-bottom: 1.5rem;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 10;
}

span {
  font-weight: 560;
}

.col-lg-6 {}

.btn-success {
  background-color: #00FFAB;
}

#main {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: 500;
}

.mrgn {
  margin: 8% 8% 0 0;
}

/* use rotation from transform we specify degrees to be rotate */
.crop {
  width: 20%;
  margin-left: 10%;
  transform: rotate(25deg);
  position: absolute;
}

/* code for section features */
#features {
  padding-top: 7%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 7%;
  background-color: #fff;
  position: relative;
}

.image1 {
  width: 25%;
  padding-bottom: 10%;
  margin-left: 40%;
}

.image1:hover {
  color: #ff4c6f;
}

/* customer testomonial */
#customer {
  text-align: center;
  background-color: #F77E61;
  color: white;
}

.hiii {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 1000;
  margin-left: 15%;
  padding-top: 5%;
  width: 70%;
  padding-bottom: 5%;
}

.carousel-item {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

.testt {
  border-radius: 11rem;
  width: 15%;
}

.testtt {
  border-radius: 30rem;
  width: 12%;
}

/* press section */
/* we always should focus your attention towards the visual heiarchy at end of the Day */
/* that is main reason to have a good attractive website */
#press {
  background-color: #F77E61;
  text-align: center;
  padding-bottom: 5%;
}

.neww {
  width: 12%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

em {
  margin-left: 20px;
  color: #ffff;
}

/* pricing part of the website */
.bt1 {
  padding-left: 45%;
  padding-right: 40%;
}

#pricing {
  padding: 5% 10%;
}

.cleas {
  padding-left: 1%;
  padding-right: 1%;
}

/* make  website mobile friendly with the use of the media queries and it is core css no bootstrap
knowledge needed to implement it */
@media (max-width:1018px) {

  /* if condition is true so if screen size is less than than 1018
  above condition will play its part to make our website mobile friendly */
  .row1 {
    text-align: center;
    margin-left: 10%;
  }

  .imgg {
    width: 70%;
    padding-top: 10%;
    margin-right: 10%;
    transform: rotate(0);
    position: static;
  }

  /* second last section i. e. download section */
}

#download {
  background-color: #ff4c6f;
  padding: 7% 5%;
  color: white;
}

.maaa {
  width: 24%;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
footer {
  padding: 5% 5% 0 5%;
  text-align: center;
  background-color: #fff;
}
.nothing {
  padding-left: 2%;
  padding-right: 2%;


}

.ppgh {
  padding-top: 3%;
  padding-bottom: 3%;
}
