body {
  text-align: center;
  font-family: 'Hepta Slab', serif;
  font-size: 1.5rem;
  font-weight: lighter;
}

#one {
  font-size: 2.3rem;
}

.eng {
  font-size: 2.5rem;
  text-decoration-line: underline;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.3rem;
  color: #646FD4;
  margin-top: 0;
  font-weight: 100;
  margin-bottom: 0;
}

h2 {
  color: red;
  font-family: 'Dancing Script', cursive;
  font-size: 4.1rem;
  margin: auto;
}

h3 {
  color: #646FD4;
  font-size: 2.5rem;
  font-family: 'Unica One', cursive;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
}

hr {
  border-top-style: dashed;
  width: 10%;
  color: #2E0249;
  border-top-width: 10px;
  margin-bottom-style: 0;
  margin-left-style: 0;
  margin-right-style: 0;
}

#new {
  font-size: 300%
}

.main {
  margin-left: 25%;
  position: relative;
  width: 50%;
  height: 40%;
  align-items: center;
}

.cloud1 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 200px;
  width: 200px;
  height: 150px;
  top: 10px;
}

.first {
  background-color: #B7E5EF;
  height: auto;
  width: auto;
}

.cloud2 {
  position: absolute;
  width: 150px;
  height: 100px;
  top: 10%;
  left: 5%;
}

.mountain {
  width: 700px;
  height: 500px;
  border-bottom: 2px solid;
  padding-bottom: 0;
}

.list {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.link {
  color: black;
  font-size: 1rem;
  ;
}

.link:visited {
  color: #4C3575;
}

.link:hover {
  color: #F32424;
}

.skill {
  margin-left: 28%;
  margin-right: 28%;
}

.project {
  margin-left: 8%;
  margin-right: 8%;
}

.hello1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.hello2 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.search {
  width: 100%;
}

th {
  font-size: 150%;
  font-weight: lighter;
}

tr {
  font-size: 75%;
  font-weight: lighter;
  line-height: 1.5;
}

.pargraph {
  font-size: 1.2rem;
}

.photo {
  width: 250px;
  height: 250px;
}

.abcd {
  width: 100px;
  height: 100px;
}

.program {
  display: inline-block;
}

.sk {
  display: inline-block;
  align-items: center;
}

.skill-row {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-size: 1rem;
}

.tab {
  display: inline-block;
  border-spacing: 25px;
}

.contact-me {
  background-color: #B7E5EF;
}
.hob {
  width: 30%;
  height: 30%;
}

.anime {
  margin: 4%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.nnn {
  text-align: left;
  line-height: 1.5;
}
